body {
    font-family: " Roboto Condensed", sans-serif;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    color: #41464b;
    text-transform: uppercase;
}

/************** Home Css **************/
html,
body {
    height: 100%
}

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("../img/bg-home.jpg");

}

#home-content-box {
   
    width: 100%;
    height: 100%;
    display: table;
  }


.content-title-white h3 {
    color: #fff;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

/************** All Button Style **************/
.btn-general {
    border-color: #fff;
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #41464b;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;

}

#about-btn {
    text-align: center;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #34c6d3;
    color: #fff;
}

.bg-parallax {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.btn-back-to-top{
    position: fixed;
    bottom: 28px;
    right: 28px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 0;
    display: none;
}

/************** Animate Style **************/
#home-cover {
    animation-delay: .1s;
    animation-duration: .5s;

}

#home-heading {
    animation-delay: .5s;
    animation-duration: .5s;

}

#home-btn {
    animation-delay: 1s;
    animation-duration: .5s;
}

/************** Services Style **************/
.content-box {
    padding: 60px 0 60px 0;
}

.content-box-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;

}

.service-item {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon i {
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i {
    color: white;
    background-color: #34c6d3;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p {
    margin: 0;
    padding-left: 85px;
}

/************** About Style **************/
#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(../img/bg-about.jpg);
    border-left: 200px solid white;
    border-top: 700px solid transparent;

}

#about-content-box {
    float: left;
    height: 700px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about-desc {
    margin-bottom: 30px;
}

/************** Work Style **************/

.row.no-gutter [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.image-warpare {
    overflow: hidden;
}

.image-warpare {
    transition: transform .5s ease;
}

.image-warpare img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}

/************** Team Style **************/

.team-member {
    margin: 0 15px;
}

.team-member-info {
    padding: 10px 0 30px 0;
}

h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-jobs {
    color: #34c6d3;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    font-style: italic;
    margin-top: 5px;
}

/************** Social Style **************/
.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon {
    font-size: 17px;
}

.icon-gray i {
    color: #64707b;
}

.icon-white i {
    color: #fff;
}

.social-icon i:hover {
    color: #34c6d3;
}

/************** testimonials  Style **************/
#testimonials-cover {
    background-image: url("../img/bg-testimonials.jpg");
}

#testimonials .content-box {
    background-color: rgba(0, 0, 0, 0.1);
}

#customers-testimonials {
    padding: 50px 0;
}

.testimonial img {
    max-width: 120px;
    margin: 0 auto 0 auto;
}

.testimonial blockquote {
    border: 0;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: #fff;
    padding: 6px 150px;
    position: relative;

}

.testimonial blockquote p {
    color: #fff;
}

.testimonial blockquote::before,
.testimonial blockquote::after {
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}

.testimonial blockquote::before {
    content: "\201C";
    top: 0;
    left: 100px;
}

.testimonial blockquote::after {
    content: "\201D";
    bottom: 0;
    right: 100px;
}

.testimonials-author p {
    color: #fff;
    font-size: 17px;
}

.testimonials-author p strong {
    display: block;
}

/************** Pracing Style **************/


.parcing-box {
    border: 3px solid #34c6d3;
    padding: 50px 0;
    margin: 40px 0;
}

h4.parcing-titlle {
    background-color: #34c6d3;
    color: #fff;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 30px 0;
    text-transform: uppercase;
}

h3.parcing-value {
    font-size: 60px;
    font-weight: 700;
}

h3.parcing-value sup {
    font-size: 20px;
    font-weight: normal;
    vertical-align: super;
}

ul.parcing-desc {
    list-style: none;
    padding-left: 0;
    margin: 20px 0 60px 0;
}

ul.parcing-desc li p {
    font-weight: 400;
    text-transform: uppercase;
}

.parcing-box-middle {
    padding: 90px 0;
    margin: 0;
    background-color: #34c6d3;

}

.parcing-box-middle h4.parcing-titlle {
    background-color: #fff;
    color: #34c6d3;
}

.parcing-box-middle ul.parcing-desc li p {
    color: #fff;
}

/************** Stats Style **************/
#stats-cover {
    background-image: url("../img/bg-stats.jpg");
}

#stats .content-box {
    background-color: rgba(0, 0, 0, 0.8);
}

.stats-item {
    padding: 100px 0;
}

.stats-item i {
    color: #34c6d3;
}

.stats-item h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}

.stats-item p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
}

/**************  clients Style **************/
.client {
    padding: 40px 0;
}

/**************  footer Style **************/
footer {
    background-color: #41464b;
    padding-top: 30px;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

#contact-left h3,
#contact-right h3 {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 1px;
}

#contact-left p {
    color: #fff;
    margin-bottom: 30px;
}

.contact-info {
    background-image: url(../img/world-map.png);
    background-repeat: no-repeat;
    background-size: contain;
}

address {
    color: #fff;
}

address strong,
.phone-fax-email strong {
    color: #fff;
    letter-spacing: 1px;
}
.phone-fax-email {
    margin-bottom: 40px;
}
.phone-fax-email span {
    color: #fff;
}

form,
.form-control {
    background: transparent;
    border-radius: 0;
    font-size: 17px;
    font-weight: 300;
    border-color: #fff;
    padding: 8px ;
    margin-bottom: 20px;
    color: #fff;
}

#footer-buttom{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px 0 ;
    margin-top: 60px;
}
#footer-copyrights p {
    margin: 0;
    color: #fff;
}
#footer-menu {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    float: left;
}
#footer-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
#footer-menu ul li {
    display: inline-block;
}
#footer-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}
#footer-menu a:hover{
    color: #34c6d3;
}
/**************  navigation Style **************/

.navbar{
    padding: 20px 0 ;
    transition: all .5s ease-in-out;
}
.vesco-top-nav{
    background: rgba(0,0,0,0.7);
    padding: 7px 0 ;
}
.vesco-navbar-warpper{
    padding: 0 85px;
}
.navbar-nav {
    float: right;
}
.navbar-nav > li > a {
    
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
/* ???? */

.navbar-inverse .navbar-nav>li>a
{
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    color: #34c6d3 ;
   
}
.navbar-inverse .navbar-nav>.active>a:hover{
    color: #34c6d3 ;
}
.navbar-toggle {
        border-radius:  0;
   }
.navbar-collapse {
    max-height: none !important;
}
.vesco-top-nav ul.navbar-nav > li.active > a{
    color: #34c6d3;
    background: none !important;
}













